* {
    margin: 0;
    padding: 0;
    --blue: #0A112E;
    --orange: #F39C0D;
    color: var(--blue);
    font-family: 'Ubuntu', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
}

.button {
    border: none;
    background-color: none;
    padding: 10px;
    margin: 10px;
}

.h2 {
    font-size: 3rem;
}

.h3 {
    font-size: 2rem;
}

.a {
    text-decoration: none;
    text-decoration: underline;
}

#logo-btn {
    border: none;
    background-color: white;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.orange-btn {
    background-color: var(--orange);
    color: var(--blue);
}

.orange-btn:hover {
    background-color: var(--blue);
    color: var(--orange);
}

.blue-btn {
    background-color: var(--blue);
    color: var(--orange);
}

.blue-btn:hover {
    background-color: var(--orange);
    color: var(--blue);
}

.big-btn {
    font-size: 2rem;
    padding: 20px;
}

#header {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    width: 100vw;
    height: 5vh;
    justify-content: space-around;
}

#title {
    width: 40%;
}

#authentication {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    align-items: center;
    max-height: 5vh;
}

#userName {
    margin-right: 30px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    margin-top: 3vh;
    justify-content: space-around;
}

.selectors {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    overflow: auto;
}

#settings {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

#settings-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    margin-top: calc(100vh - 92.5vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
}

#editor-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75vh;
}

#md-rendered-content {
    width: 40vw;
    height: 60vh;
    border: #0A112E;
    overflow-y: scroll;
}

#md-editor {
    width: 40vw;
    height: 60vh;
    resize: none;
}

#md-editor-entry {
    width: 40vw;
    height: 60vh;
    resize: none;
}

#full-screen-preview {
    width: 80vw;
    height: 80vw;
    overflow-y: scroll;
}